// COLORS
$c-te-Papa-Green: #1e4c3e;
$c-orange-White: #fefaf0;
$c-alto: #e0dfde;
$c-royal-Blue: #4367ec;
$c-desert-Storm: #f9f9f8;
$c-casal: #2a6a57;
$c-wild-Sand: #f5f4f4;
$c-black-200: #00000029;
$c-viridian: #378970;
$mine-Shaft: #343434;
$tropical-Blue: #b6c4f8;

$surface-primary: $c-te-Papa-Green;
$surface-secondary: $c-alto;

$text-primary: $c-orange-White;
$text-secondary: $c-alto;
$text-tertiary: $mine-Shaft;
$text-hyperlink: $tropical-Blue;

$button-background-primary: $c-royal-Blue;
$button-label-primary: $c-desert-Storm;

$tag-background: $c-casal;
$tag-label: $c-wild-Sand;

$texttab-background: $c-viridian;

$textCard-background: $c-casal;

$link-color: $c-orange-White;
$link-hover: $c-royal-Blue;

$post-bg: $c-orange-White;

// SHADOWS
$button-shadow: 0px 2px 8px 0px $c-black-200;
$image-card-shadow: 0px 0px 1rem 0px #00000033;

// SIZE CONTAINER
$container-sm: 500px;
$container-md: 640px;
$container-lg: 1248px;
$container-xl: 1400px;

//  Break
$break-sm: 480px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1280px;
$break-xxl: 1536px;
