@import "@/styles/theme.scss";

.container {
  margin: 3em auto 0;
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  visibility: hidden;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
  gap: 1.4em;
}

.activeLink {
  opacity: 0.4;
  cursor: default;
}

.visible {
  visibility: visible;
}
