@import "@/styles/theme.scss";

.h-xl {
  font-size: 2.75rem;
  line-height: 3.5rem;
}
.h-lg {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.h-md {
}
.h-sm {
}
.h-xs {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.h-xxs {
}

.t-xl {
}
.t-lg {
}
.t-md {
  font-size: 1rem;
  line-height: 1.75rem;
}
.t-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.t-xs {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.t-xxs {
}

.w-thin {
  font-weight: 300;
}
.w-regular {
  font-weight: 400;
}
.w-medium {
  font-weight: 500;
}
.w-semiBold {
  font-weight: 600;
}
.w-bold {
  font-weight: 700;
}

.c-primary {
  color: $text-primary;
}

.c-secondary {
  color: $text-secondary;
}

.c-tertiary {
  color: $text-tertiary;
}

.c-tag {
  color: $tag-label;
}

.c-button {
  color: $button-label-primary;
}

.c-success {
  color: greenyellow;
}

.c-error {
  color: red;
}
