@import "@/styles/theme.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: $surface-primary;
  color: $text-primary;
  min-height: 100vh;
  margin: 0;

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
