@import "@/styles/theme.scss";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: $container-md;
  background-color: rgba($post-bg, 0.9);
  box-shadow: $image-card-shadow;
}

.mdWidth {
  width: 24rem;
}

.imgContainer {
  flex: 1;
}

.img {
  width: 100%;
  height: 100%;
  width: clamp(18rem, 100%, $container-md);
  object-fit: cover;
  aspect-ratio: 7/6;
}

.content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.meta {
  display: flex;
  justify-content: space-between;
}

.tag {
  display: flex;
  gap: 0.25em;
}

.text {
  max-width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.desc {
  color: $text-tertiary;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.date {
  margin-top: 0.5em;
  opacity: 0.6;
}
