@import "@/styles/theme.scss";

.textWrapper {
  max-width: $container-sm;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media screen and (max-width: $break-md) {
    align-items: center;
    text-align: center;
  }
}

.textCardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;

  @media screen and (max-width: $break-md) {
    flex-direction: column;
  }
}

.textCardContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
