@import "@/styles/theme.scss";

.container {
  max-width: 37rem;
}

.img {
  flex: 1;
  width: clamp(18rem, 100%, $container-md);
  object-fit: contain;
  height: fit-content;
  max-height: 30rem;
}

.formScrollHook {
  transform: translateY(-9em);
}

.textCardFormContent {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.textCardForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
