@import "@/styles/theme.scss";

.container {
  background: $textCard-background;
  border-radius: 0.75rem;
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 12.5rem;
  width: 100%;
}

.large {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}
