@import "@/styles/theme.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 3em;

  @media screen and (max-width: $break-md) {
    justify-content: center;
  }
}

.vertical {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: $break-md) {
    align-items: center;
  }
}

.center {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
