@import "@/styles/theme.scss";

.container {
  margin: 1rem 0;

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    .img {
      flex: 1;
      height: 2.5em;
      object-fit: contain;
      object-position: left;
      width: min-content;
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 2em;

      .menuBtn {
        display: none;

        @media screen and (max-width: $break-md) {
          display: block;
        }
      }

      .menuImg {
        height: 36;
      }

      .navItem {
        display: block;

        @media screen and (max-width: $break-md) {
          display: none;
        }
      }

      .text {
        @media screen and (max-width: $break-md) {
          font-size: 0.9rem;
          line-height: 1.3rem;
        }
      }
    }
  }

  .banner {
    width: 100vw;
    margin-left: -1.5em;
    height: 3em;
    background-color: $button-background-primary;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1em 2em $c-black-200;
    display: none;

    @media screen and (max-width: $break-md) {
      display: flex;
    }
  }
}

.menuContainer {
  height: 100vh;
  width: 80vw;
  background-color: $surface-secondary;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em;

  .menuContent {
    padding: 2em 1em 0 0;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }
}

.hide {
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
  transform-origin: 100%;
}

.show {
  transform: scaleX(1);
  transition: all 0.2s ease-in-out;
  transform-origin: 100%;
}
