@import "@/styles/theme.scss";

.container {
  max-width: $container-lg;
  width: 100%;
  padding: 0 1.5rem;
  margin: auto;
}

.margin {
  margin: 2rem auto 0;
}

.fill {
  display: flex;
  flex-direction: column;
  flex: 1;
}
